# Martingale Database Preview
This notebook inspects `martingale.db`, lists available user tables, and prints the top `k` rows from each.

In [4]:
from pathlib import Path

DB_PATH = Path('../instance/martingale.db')  # Update this if your database lives elsewhere
TOP_K = 25  # Number of rows to preview from each table

In [2]:
import sqlite3
import pandas as pd
from IPython.display import display, Markdown

if not DB_PATH.exists():
    raise FileNotFoundError(f'Database file not found at {DB_PATH.resolve()}')

with sqlite3.connect(DB_PATH) as conn:
    table_rows = conn.execute("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%' ORDER BY name;").fetchall()

TABLE_NAMES = [row[0] for row in table_rows]
display(Markdown('## Tables Found'))
display(pd.DataFrame(TABLE_NAMES, columns=['table']))

## Tables Found

          table
0        assets
1    portfolios
2    price_data
3   settlements
4  transactions
5         users

In [3]:
if not TABLE_NAMES:
    print('No user tables detected in the database.')
else:
    with sqlite3.connect(DB_PATH) as conn:
        for table in TABLE_NAMES:
            display(Markdown(f'### {table} (top {TOP_K})'))
            df = pd.read_sql_query(f'SELECT * FROM {table}  ORDER BY ID DESC LIMIT {TOP_K};', conn)
            if df.empty:
                print('  (table is empty)')
            else:
                display(df)
            print()

### assets (top 25)

,id,symbol,initial_price,current_price,volatility,created_at,expires_at,is_active,final_price,settled_at,color
0,329,AZE,100.0,105.000000,0.050000,2025-11-01 19:51:41.757886,2025-11-01 19:51:43.757520,0,105.0,2025-11-01 19:51:44.781902,None
1,328,GMF,100.0,110.000000,0.050000,2025-11-01 19:51:41.706819,2025-11-01 19:51:40.706399,0,110.0,2025-11-01 19:51:41.715669,None
2,327,ENN,100.0,94.823767,0.050000,2025-11-01 19:51:39.680714,2025-11-01 19:51:40.679507,0,105.0,2025-11-01 19:51:41.687517,None
3,326,EJW,100.0,707.408738,0.181168,2025-11-01 19:51:39.659237,2025-12-01 19:51:39.656498,1,NaN,None,#ffce56
4,325,POJ,100.0,37.585465,0.128206,2025-11-01 19:51:39.659234,2025-11-16 19:51:39.655943,1,NaN,None,#17becf
5,324,YWQ,100.0,91.164537,0.047644,2025-11-01 19:51:39.659224,2025-11-02 19:51:39.652539,1,NaN,None,#c9cbcf
6,323,VVS,100.0,105.000000,0.050000,2025-11-01 19:36:06.420611,2025-11-01 19:36:08.420200,0,105.0,2025-11-01 19:36:09.442345,None
7,322,OMD,100.0,110.000000,0.050000,2025-11-01 19:36:06.371500,2025-11-01 19:36:05.371040,0,110.0,2025-11-01 19:36:06.380554,None
8,321,ZJH,100.0,98.257530,0.050000,2025-11-01 19:36:04.347737,2025-11-01 19:36:05.347047,0,105.0,2025-11-01 19:36:06.352723,None
9,320,VFD,100.0,82.020502,0.070526,2025-11-01 19:36:04.328880,2025-12-01 19:36:04.321591,1,NaN,None,#c9cbcf
10,319,GWM,100.0,50.026146,0.120670,2025-11-01 19:36:04.328877,2025-11-16 19:36:04.320772,1,NaN,None,#1f77b4
11,318,OSC,100.0,87.463903,0.056961,2025-11-01 19:36:04.328864,2025-11-02 19:36:04.319955,1,NaN,None,#d62728
12,317,TXD,100.0,105.000000,0.050000,2025-11-01 19:21:41.071540,2025-11-01 19:21:43.070332,0,105.0,2025-11-01 19:21:44.099389,None
13,316,QXG,100.0,110.000000,0.050000,2025-11-01 19:21:41.007201,2025-11-01 19:21:40.006756,0,110.0,2025-11-01 19:21:41.017750,None
14,315,UZJ,100.0,99.091232,0.050000,2025-11-01 19:21:38.981832,2025-11-01 19:21:39.980787,0,105.0,2025-11-01 19:21:40.988911,None
15,314,NQA,100.0,350.629866,0.164265,2025-11-01 19:21:38.958520,2025-12-01 19:21:38.955534,1,NaN,None,#ff7f0e
16,313,RDY,100.0,81.815198,0.122364,2025-11-01 19:21:38.958518,2025-11-16 19:21:38.954904,1,NaN,None,#e377c2
17,312,ORD,100.0,2.930641,0.078959,2025-11-01 19:21:38.958512,2025-11-02 19:21:38.954135,1,NaN,None,#e377c2
18,311,MGT,100.0,105.000000,0.050000,2025-11-01 19:19:50.451952,2025-11-01 19:19:52.451553,0,105.0,2025-11-01 19:19:53.619538,None
19,310,CWI,100.0,110.000000,0.050000,2025-11-01 19:19:50.409972,2025-11-01 19:19:49.408081,0,110.0,2025-11-01 19:19:50.421261,None
20,309,ANE,100.0,103.653307,0.050000,2025-11-01 19:19:48.387205,2025-11-01 19:19:49.386388,0,105.0,2025-11-01 19:19:50.393522,None
21,308,BFE,100.0,144.230041,0.111241,2025-11-01 19:19:48.372856,2025-12-01 19:19:48.369701,1,NaN,None,#00d084
22,307,UKV,100.0,102.896119,0.036023,2025-11-01 19:19:48.372853,2025-11-16 19:19:48.369002,1,NaN,None,#f7931a
23,306,VVK,100.0,67.888308,0.060502,2025-11-01 19:19:48.372845,2025-11-02 19:19:48.368313,1,NaN,None,#9467bd
24,305,FWS,100.0,110.000000,0.050000,2025-11-01 19:15:47.624825,2025-11-01 19:15:46.624173,0,110.0,2025-11-01 19:15:47.635466,None

### portfolios (top 25)

,id,user_id,cash,holdings,position_info,updated_at
0,15,15,1.015750e+05,"{""311"": 5.0}","{""311"": {""total_cost"": 500.0, ""total_quantity""...",2025-11-01 19:51:44.842718
1,14,14,1.044000e+05,"{""300"": 10.0, ""305"": 10.0, ""310"": 0.0, ""316"": ...","{""300"": {""total_cost"": 1000.0, ""total_quantity...",2025-11-01 19:51:41.723892
2,13,13,3.604275e+02,"{""146"": 0.0, ""147"": 0.0, ""169"": 0.0, ""198"": 0....","{""146"": {""total_cost"": 0.0, ""total_quantity"": ...",2025-11-01 19:53:21.236862
3,12,12,7.063854e+04,{},{},2025-10-31 22:11:55.981192
4,11,11,8.357802e+04,{},{},2025-10-31 22:07:25.517860
5,10,10,9.162576e+04,{},{},2025-10-31 21:26:51.155003
6,9,9,7.631149e+04,"{""DFN"": 0.0}","{""DFN"": {""total_cost"": 0.0, ""total_quantity"": ...",2025-10-31 20:22:57.459679
7,8,8,1.000000e+05,{},{},2025-10-31 19:18:18.005704
8,7,7,2.195279e+05,"{""BJO"": 0.0, ""SZV"": 0}","{""BJO"": {""total_cost"": 0.0, ""total_quantity"": ...",2025-10-31 20:14:37.336104
9,6,6,7.508739e+04,"{""XQR"": 0, ""ZLN"": 100000.0, ""FWX"": 1.0, ""KVT"":...","{""XQR"": {""total_cost"": 0, ""total_quantity"": 0}...",2025-10-31 18:00:35.727017
10,5,5,6.853862e+08,"{""XQR"": 0.0, ""ZLN"": 0, ""FWX"": 0, ""KVT"": 0, ""PG...","{""XQR"": {""total_cost"": 0.0, ""total_quantity"": ...",2025-10-31 16:42:05.198134
11,4,4,8.843897e+04,"{""XQR"": 0, ""ZLN"": 0, ""FWX"": 100.0, ""KVT"": 0, ""...","{""XQR"": {""total_cost"": 0, ""total_quantity"": 0}...",2025-10-31 14:49:02.032761
12,3,3,1.000000e+05,"{""XQR"": 0, ""ZLN"": 0, ""FWX"": 0, ""KVT"": 0, ""PGH""...","{""XQR"": {""total_cost"": 0, ""total_quantity"": 0}...",2025-10-31 04:25:31.711563
13,2,2,9.389572e+04,"{""XQR"": 0.0, ""ZLN"": 100.0, ""FWX"": 0.0, ""KVT"": ...","{""XQR"": {""total_cost"": 0.0, ""total_quantity"": ...",2025-10-31 04:24:00.298146
14,1,1,1.000000e+05,"{""XQR"": 0, ""ZLN"": 0, ""FWX"": 0, ""KVT"": 0, ""PGH""...","{""XQR"": {""total_cost"": 0, ""total_quantity"": 0}...",2025-10-31 03:46:59.763894

### price_data (top 25)

    id symbol  current_price  volatility history                  updated_at
0   11    ORD          100.0       0.200      []  2025-10-31 03:43:51.892112
1   10    ACT          100.0       0.001      []  2025-10-31 03:43:51.892111
2    9    EPS          100.0       0.100      []  2025-10-31 03:43:51.892110
3    8    LNC          100.0       0.040      []  2025-10-31 03:43:51.892109
4    7    DQB          100.0       0.035      []  2025-10-31 03:43:51.892107
5    6    MWZ          100.0       0.025      []  2025-10-31 03:43:51.892106
6    5    PGH          100.0       0.080      []  2025-10-31 03:43:51.892105
7    4    KVT          100.0       0.030      []  2025-10-31 03:43:51.892104
8    3    FWX          100.0       0.020      []  2025-10-31 03:43:51.892102
9    2    ZLN          100.0       0.060      []  2025-10-31 03:43:51.892100
10   1    XQR          100.0       0.050      []  2025-10-31 03:43:51.892092

### settlements (top 25)

,id,user_id,asset_id,symbol,quantity,settlement_price,settlement_value,settled_at
0,49,15,329,AZE,5.0,105.000000,525.000000,2025-11-01 19:51:44.843216
1,48,14,328,GMF,10.0,110.000000,1100.000000,2025-11-01 19:51:41.722293
2,47,15,323,VVS,5.0,105.000000,525.000000,2025-11-01 19:36:09.637168
3,46,14,322,OMD,10.0,110.000000,1100.000000,2025-11-01 19:36:06.386174
4,45,15,317,TXD,5.0,105.000000,525.000000,2025-11-01 19:21:44.166485
5,44,14,316,QXG,10.0,110.000000,1100.000000,2025-11-01 19:21:41.023681
6,43,14,310,CWI,10.0,110.000000,1100.000000,2025-11-01 19:19:50.429693
7,42,13,248,PVD,80.0,85.468392,6837.471368,2025-11-01 17:50:01.391859
8,41,13,227,SNR,100.0,60.020797,6002.079697,2025-11-01 17:42:00.273331
9,40,13,226,UMV,60.0,122.755407,7365.324444,2025-11-01 17:34:59.662321
10,39,13,234,SJA,21000.0,0.839988,17639.757843,2025-11-01 17:31:59.579336
11,38,13,225,JLF,66320.0,0.322805,21408.418646,2025-11-01 17:28:59.522923
12,37,13,211,IYU,100.0,120.105198,12010.519760,2025-11-01 02:05:53.024187
13,36,13,206,BUJ,100.0,119.091321,11909.132087,2025-11-01 02:03:52.932159
14,35,13,177,UXY,1000000.0,0.065961,65960.549034,2025-11-01 01:42:49.492530
15,34,13,190,YXZ,1000000.0,0.082889,82889.289962,2025-11-01 01:39:52.193744
16,33,13,179,YAB,300.0,0.024179,7.253681,2025-11-01 01:38:49.404336
17,32,13,130,VKV,300.0,0.621025,186.307404,2025-11-01 00:41:49.134174
18,31,13,150,WMI,100.0,47.034292,4703.429237,2025-11-01 00:34:48.023884
19,30,12,102,UJQ,1000.0,23.005942,23005.941709,2025-10-31 22:11:55.983701
20,29,12,84,REN,100.0,91.248748,9124.874840,2025-10-31 22:07:25.520640
21,28,11,84,REN,1.0,91.248748,91.248748,2025-10-31 22:07:25.520631
22,27,11,76,BHT,2400.0,20.296161,48710.786166,2025-10-31 21:38:14.606297
23,26,11,77,ACC,600.0,76.681350,46008.810082,2025-10-31 21:35:14.546973
24,25,11,45,SJD,100.0,63.478850,6347.884956,2025-10-31 21:26:51.156895

### transactions (top 25)

,id,user_id,timestamp,symbol,type,quantity,price,total_cost,created_at,asset_id
0,162,13,1.762027e+12,BFE,buy,50.0,132.057311,6602.865560,2025-11-01 19:53:21.238893,308
1,161,15,1.762027e+12,AZE,settlement,5.0,105.000000,525.000000,2025-11-01 19:51:44.843900,329
2,160,15,1.762026e+12,VVS,settlement,5.0,105.000000,525.000000,2025-11-01 19:36:09.639588,323
3,159,15,1.762025e+12,TXD,settlement,5.0,105.000000,525.000000,2025-11-01 19:21:44.167572,317
4,158,13,1.762023e+12,JZG,sell,1.0,10.254990,10.254990,2025-11-01 18:42:49.031681,232
5,157,13,1.762023e+12,JZG,buy,1.0,16.232764,16.232764,2025-11-01 18:42:32.897468,232
6,156,13,1.762019e+12,PVD,settlement,80.0,85.468392,6837.471368,2025-11-01 17:50:01.392650,248
7,155,13,1.762019e+12,PVD,buy,80.0,88.925083,7114.006672,2025-11-01 17:48:41.512146,248
8,154,13,1.762019e+12,SNR,settlement,100.0,60.020797,6002.079697,2025-11-01 17:42:00.273614,227
9,153,13,1.762019e+12,SNR,buy,100.0,74.567152,7456.715229,2025-11-01 17:38:02.970818,227
10,152,13,1.762018e+12,UMV,settlement,60.0,122.755407,7365.324444,2025-11-01 17:34:59.665475,226
11,151,13,1.762018e+12,UMV,buy,60.0,272.240348,16334.420872,2025-11-01 17:32:49.228510,226
12,150,13,1.762018e+12,SJA,settlement,21000.0,0.839988,17639.757843,2025-11-01 17:31:59.579737,234
13,149,13,1.762018e+12,SJA,buy,1000.0,0.358800,358.800165,2025-11-01 17:30:47.923004,234
14,148,13,1.762018e+12,SJA,buy,20000.0,1.129204,22584.088599,2025-11-01 17:29:27.703722,234
15,147,13,1.762018e+12,JLF,settlement,66320.0,0.322805,21408.418646,2025-11-01 17:28:59.524015,225
16,146,13,1.762018e+12,JLF,buy,65320.0,0.440183,28752.735302,2025-11-01 17:28:09.474016,225
17,145,13,1.762018e+12,JLF,buy,1000.0,68.607951,68607.950897,2025-11-01 17:24:23.526951,225
18,144,13,1.761963e+12,IYU,settlement,100.0,120.105198,12010.519760,2025-11-01 02:05:53.024555,211
19,143,13,1.761963e+12,IYU,buy,100.0,430.833033,43083.303274,2025-11-01 02:04:19.042043,211
20,142,13,1.761963e+12,BUJ,settlement,100.0,119.091321,11909.132087,2025-11-01 02:03:52.932512,206
21,141,13,1.761963e+12,BUJ,buy,100.0,109.688555,10968.855471,2025-11-01 02:03:37.649319,206
22,140,13,1.761963e+12,WKA,sell,1000000.0,0.042433,42433.083509,2025-11-01 02:02:22.473879,200
23,139,13,1.761963e+12,BUJ,sell,300.0,101.362193,30408.657770,2025-11-01 02:02:21.982588,206
24,138,13,1.761962e+12,BUJ,buy,300.0,99.267149,29780.144649,2025-11-01 02:01:32.734801,206

### users (top 25)

,id,username,password_hash,created_at
0,15,test_lifecycle_user,scrypt:32768:8:1$Hu1EdJZNWB9JXjyf$340a730b20a4...,2025-11-01 19:19:50.594286
1,14,test_settlement_user,scrypt:32768:8:1$TtHEKP7Ly7Xtx9E4$0d4f76c862c2...,2025-11-01 19:14:11.393467
2,13,squidward,scrypt:32768:8:1$5SMkBGTxbZvg7Q0x$1940b9c0b22e...,2025-11-01 00:32:22.423170
3,12,johnnyman,scrypt:32768:8:1$iQx36nbJbvWWirpP$12af2ddf45e7...,2025-10-31 22:04:52.681539
4,11,johnnyboy,scrypt:32768:8:1$xlmx2CLP4e45toVU$8db1ee988308...,2025-10-31 21:26:05.773409
5,10,jimmyc,scrypt:32768:8:1$QgY9heryCaeiRE8x$db7a41ab4a06...,2025-10-31 20:25:18.793432
6,9,jimmy2,scrypt:32768:8:1$1hoaohPbmrD2AC7g$dbdd25358abf...,2025-10-31 19:24:07.347997
7,8,JimmyChungus,scrypt:32768:8:1$MZAhJPFvxLmOHWwN$5a25d103f934...,2025-10-31 19:18:17.992673
8,7,richy,scrypt:32768:8:1$Nlkyeyz3F4b3GUPn$329b38c1e9c3...,2025-10-31 18:22:28.821515
9,6,applelover,scrypt:32768:8:1$Io7EnhSt5OLHBttb$267791b33440...,2025-10-31 17:17:26.199934
10,5,jonathan,scrypt:32768:8:1$5m6xaWYy3Tpk2yNW$6de2d0f36eaa...,2025-10-31 14:50:06.462558
11,4,David,scrypt:32768:8:1$wc6AeUqsORrhmOwn$7d1761a76136...,2025-10-31 04:29:43.590070
12,3,johnny,scrypt:32768:8:1$wcfAnXU2C7ZGCrPN$fbf625d6810f...,2025-10-31 04:25:31.699755
13,2,richard,scrypt:32768:8:1$WNW3J0b5NcCLoHG5$5162758d9c2d...,2025-10-31 03:52:50.738321
14,1,jimmy,scrypt:32768:8:1$jMBvkm0WTNOFMzW5$46d42c787582...,2025-10-31 03:46:59.620184